.Body {
  background: #25384d;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  .bodyHeader {
    width: 100%;
    background: #152141;
    h1 {
      margin: 0;
    }
  }
  .bodyContent {
     font-weight: 700;
     margin: 0;
     padding: 0.5em 0;
     h1 {
       margin: 0;
       padding: 0;
       font-size: 1.4em;
       font-weight: 700;
     }
  }
}