.getComputerInfo {
  background: #1b202b;
  padding: 1em;
  .button {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    border: none;
    border-radius: 7px / 10px;
    padding: 5px 6px;
  }
}

